# API Configuration
EXPO_PUBLIC_DEV_API_URL=http://91.98.207.169
EXPO_PUBLIC_PROD_API_URL=http://91.98.207.169

# Device Pairing (SoftAP)
EXPO_PUBLIC_AP_SSID=Mnazilona_Setup
EXPO_PUBLIC_AP_PASSWORD=manazel123
